/* PC */
@media only screen and (min-width: 1024px) {

}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media only screen and (max-width: 739px) {
    #nav {
        display: block;
    }
    #nav > li,
    #nav > li a {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background: #333;
        padding: 5px 29px;
    }

    #nav .subnav a {
        color: #fff;
    }

    #header .search-button {
        display: none;
    }

    #header .mobile-menu-button {
        float: right;
        padding: 0 21px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    #header .mobile-menu-icon {
        color:#fff;
        line-height: 46px;
    }

    #header .mobile-menu-button:hover {
        background-color: #bbb;
    }

    #header .mobile-menu-icon:hover {
        color: #000;
    }

    #header {
        overflow: hidden;
    }

    #slider .slider-description {
        display: none;
    }

    #content .band-section .member-item {
        float:initial;
        width: calc(100%);
        padding-bottom: 16px;
    }

    #content .tour-section .places-list {
        padding: 32px 0px;
        margin: auto;
        margin-top: -8px;
    }

    #content .tour-section .place-item {
        width: 100%;
        padding: 8px 0;
        float: left;
    }
}